@import '../../styles/variables.module.css';

.nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.link {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-gray-1);
  transition: all 0.2s ease;
}

.link:hover {
  background-color: var(--color-gray-4);
}

.link:active {
  background-color: var(--color-gray-5);
}

/* Активная страница */
.active {
  background-color: var(--color-gray-5);
  font-weight: 600;
}

.active:hover {
  background-color: var(--color-gray-5);
}