@import '../../styles/variables.module.css';

.actionBtn {
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-gray-1);
}

.actionBtn:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-gray-4);
}

.actionBtn:active {
  box-shadow: inset 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-gray-5);
}

.littleSquare {
  width: 3rem;
  height: 3rem;
}

.square {
  width: 4.2rem;
  height: 4.2rem;
}

.circle {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 3.2rem;
}

.littleCircle{
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1.8rem;
}

.miniCircle{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
}

.text {
  width: 15rem;
  height: 3.2rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}

.greenDark {
  background: var(--color-green-cucumber);
}

.greenDark:hover {
  background: var(--color-green-cucumber-1);
}

.greenDark:active {
  background: var(--color-green-cucumber-2);
}

.greenLight {
  background: var(--color-green-light-1);
}

.greenLight:hover {
  background: var(--color-green-light-2);
}

.greenLight:active {
  background: var(--color-green-light-3);
}

.red {
  background: var(--color-red-tomato-light-1);
}

.red:hover {
  background: var(--color-red-tomato-light-2);
}

.red:active {
  background: var(--color-red-tomato-light-3);
}

.icon {
  display: block;
  flex-shrink: 0;
  pointer-events: none;
  object-fit: contain;
}

.icon_littleSquare {
  width: 1.6rem;
  height: 1.6rem;
}

.icon_square {
  width: 2.2rem;
  height: 2.2rem;
}

.icon_circle {
  width: 3.2rem;
  height: 3.2rem;
}

.icon_littleCircle {
  width: 1.6rem;
  height: 1.6rem;
}

.icon_miniCircle{
  width: 1.4rem;
  height: 1.4rem;
}

.icon_text {
  width: 1.8rem;
  height: 1.8rem;
}

.buttonText {
  white-space: nowrap;
}